*{
    font-family: 'Langar', sans;
}

html {
    scroll-padding-top: 12%; /* fixing stickytop overalping id */
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;

  }
  body{
    background-image: url("img/box5.jpg");
    background-size: cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
}
.background1{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.9;
}

.background2{
    background-color: rgba(255,255,255,0.9);
}
.jumbotron{
    height: 100vh;
}
.navcolor{
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
}

.nav-link:hover{
    opacity: 0.8;
    background-color: rgb(73, 69, 69);
    transition: all 0.3s;
}


.carousel-item img{
    opacity:0.5;
    filter:sepia() blur(2px);
    
}

.carousel-item{
    background: black;
    
}   

.carousel-caption {
    top: 20%;
    bottom: auto;
}

iframe{
    height:400px;
}
.carousel-item:hover{
    transform: scale(1.2);
    transition: all 0.7s ease 0.3s;
    background-color: black;
}
.carousel{
    transition: all 1s;
   
}
p{
    font-size: 16px;
}
#carouselbtn{
    transition: background-color 0.6s;
}
 #carouselbtn:hover{
    background-color:rgba(255, 255, 255, 0.048);
    transition: background-color 0.6s ease 0.4s;
}

#carouselA{
    transition: all 1s;
}
#carouselA:hover{
    opacity: 0.6;
    transition: 1s;
}

.background3{
    background-image: url("img/haftowanie.jpg");
    filter:blur(2.5px);
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 140px;
    background-size:cover;
    background-color:rgba(39, 38, 38, 0.6);
}


thead{
    font-weight: 500;
    border-bottom: 2px solid black;;
}
td, th{
    border:1px solid black;
    font-size: 0.8rem;
    
}
