html {
    scroll-padding-top: 70px; /* fixing stickytop overalping id */
    scroll-behavior: smooth;

  }
  body{
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    margin:0; 
    padding: 0;
}
nav{
    font-family: 'Langar', cursive;
}
.background1{
    background-color:black;
    opacity: 0.6;
}

.background2{
    background-color: rgba(255,255,255,0.9);
}
.jumbotron{
    height: 100vh;
}
.navcolor{
    background-color: black;
    opacity: 0.9;
}

nav a:hover{
    opacity: 0.8;
    background-color: rgb(73, 69, 69);
    transition: all 0.3s;
}


.carousel-item img{
    opacity:0.5;
}

.carousel-item{
    background: black;
  
}

.carousel-caption {
    top: 20%;
    bottom: auto;
}

iframe{
    height:400px;
}
.carousel-item:hover{
    transform: scale(1.2);
    transition: all 1s;
    background-color: black;
}
.carousel{
    transition: all 1s;
   
}

p{
    font-size: 16px;
}
